.filter{
    width: 200px !important;
    height: 45px !important;
    border-radius: 50px;
    background-color: rgb(228, 125, 69);
    color: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-align: center;
}
.speaker-item {
    padding: 30px 6px;
    border-top: 1px solid rgb(216, 216, 216);;
}

.speaker-item:first-of-type {
    border-top: unset;
}

.speakers-image {
    width: 160px !important;
    height: 160px;
    border-radius: 50%;
}